@model Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">            
            <div class="form-group">
                <label>Book Title</label>
                <input asp-for=" book_Title" class="form-control" />
                <span asp-validation-for=" book_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input asp-for="book_Img" type="file" onchange="chooseFile(this)" accept="image/gif, image/jpeg, image/png" style="width: 100%" class="form-control" />
                <div> <img style="height:200px;width:250px" id="image" /></div>
                <span asp-validation-for="book_Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Book Auhtor</label>
                <input asp-for=" book_Author" class="form-control" />
                <span asp-validation-for="book_Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input asp-for=" book_Quantity" class="form-control" min="1" max="300" />
                <span asp-validation-for=" book_Quantity" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label>Price</label>
                <input asp-for=" Book_Price" class="form-control" min="1" max="5000000" type="number" />
                <span asp-validation-for=" Book_Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Publisher Date</label>
                <input asp-for=" publication_date"  type="date" name="input1" placeholder="YYYY-MM-DD"  title="Enter a date in this formart YYYY-MM-DD" /> 
                <span asp-validation-for=" publication_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Genre</label>
                <select asp-for="genre_Id" asp-items="@ViewBag.genre_Id" class="form-control">
                <option>select genre for book</option>
                </select>
                <span asp-validation-for="genre_Id" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label>Publisher</label>
                <input asp-for=" book_Publisher" class="form-control" />
                <span asp-validation-for=" book_Publisher" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input asp-for=" book_Description" class="form-control" />
                <span asp-validation-for=" book_Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script>
    function chooseFile(fileInput) {
        if (fileInput.files && fileInput.files[0]) {
            var render = new FileReader();

            render.onload = function (e) {
                $('#image').attr('src', e.target.result);
            }
            render.readAsDataURL(fileInput.files[0]);
        }
    }
</script>