@model Final_ASP_Project.Models.Genre
@{

    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}
<h1 style="color:blue">Create genre</h1>
<hr/>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-controller="Genre" asp-action="Create" method="post">
                <br /> 
                <div class="form-group">
                    <b> <label>Name</label></b>
                    <input type="text" class="form-control" asp-for="genre_Name">
                </div>
                <div class="form-group">
                    <b> <label>Description</label></b>
                    <input type="text" class="form-control" asp-for="genre_Description">
                </div>
                <br /> <br /> 
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-warning" asp-controller="Genre" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}